@import "tailwindcss";

:root {
  --unam-blue: #002b7a;
  --unam-gold: #cdb170;
}

body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
